.cours-card {
  margin-bottom: 20px;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  border-radius: 5px;

  &__title {
    text-align: center;
    margin-bottom: 10px;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__price,
  &__authors {
    margin: 10px 0 0 15px;
  }
}
