.course-popup {
  display: flex;
  flex-direction: column;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form-row {
    display: flex;
  }

  &__input {
    display: flex;
    flex-grow: 1;
  }
}
