.user-courses {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}
