.aside-menu {
  padding: 15px;
  width: 200px;
  background-color: #ddd;
  position: relative;

  &__nav-wrapper {
    position: sticky;
    top: 80px;
  }

  &__title {
    margin-top: 20px;
  }

  &__link {
    margin-top: 10px;
    padding: 3px 5px;
    color: #000;
    text-align: center;
    background-color: lightsalmon;
    cursor: pointer;
    list-style-type: none;
    text-decoration: none;

    &:hover {
      background-color: #f00;
    }
  }
}
