.asdie-menu {
  padding: 15px;
  width: 200px;
  background-color: #ddd;

  &__title {
    margin-top: 20px;
  }

  &__link {
    margin-top: 10px;
    padding: 3px 5px;
    color: #000;
    text-align: center;
    background-color: lightsalmon;
    cursor: pointer;

    &:hover {
      background-color: #f00;
    }
  }
}
